header {
  width: 100%;
  min-height: 10rem; /* 160px */
  gap: 0.75rem; /* 12px */

  h1 {
    font-size: 3rem; /* 48rem */
  }

  p {
    gap: 0.75rem; /* 12px */
    max-width: 44rem; /* 704px */
    font-size: 0.875rem; /* 14px */
    line-height: 1.215;
  }

  p::before {
    display: block;
    content: url(../../src/imgs/icons/6dots.svg);
  }
}

@media screen and (max-width: 600px) {
  header {
    h1 {
      font-size: 1.5rem; /* 24px */
    }

    p {
      font-size: 0.75rem; /* 12px */
    }
  }
}
