main {
  // Recipe Image
  img {
    width: 100%;
    margin-bottom: 48px;
  }

  // Main section
  section {
    position: relative;

    // Recipe info
    div.recipe-info {
      position: absolute;
      right: 0;
      width: 216px;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 43px;
      padding-top: 53px;
      padding-bottom: 53px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      border-radius: 12px;

      &__item {
        display: flex;
        padding-left: 43px;
        gap: 14px;
        align-items: center;

        h2 {
          font: 700 0.625rem/0.75rem "Montserrat", sans-serif;
          text-transform: uppercase;
          color: #bdbdbd;
          margin-bottom: 4px;
        }

        p {
          font: 500 0.875rem/1rem "Montserrat", sans-serif;
          color: #333333;
        }
      }

      &__item:nth-child(1) p,
      &__item:nth-child(1) span {
        color: #f2994a;
      }
    }

    div.ingredients,
    div.instructions {
      h2 {
        font: 700 1.5rem/2rem "Playfair Display", serif;
        color: #333333;
        margin-bottom: 32px;
      }
    }

    // Ingredients
    div.ingredients {
      max-width: 540px;

      &__group {
        margin-bottom: 40px;

        h3 {
          font: 400 italic 1.125rem/1.5rem "Playfair Display", serif;
          margin-bottom: 30px;
        }

        &-item {
          display: flex;
          gap: 17px;
          align-items: flex-start;
          margin-bottom: 12px;

          input {
            margin-top: 6px;
          }

          label {
            font: 400 1rem/1.5rem "Montserrat", sans-serif;
            color: #333333;

            strong {
              color: currentColor;
            }

            span {
              font-style: italic;
            }
          }
        }
      }
    }

    // Instructions
    div.instructions {
      max-width: 600px;
      margin-bottom: 60px;

      ul {
        display: grid;
        gap: 30px;

        li {
          display: grid;
          grid-template-columns: 36px auto;
          gap: 15px;

          div {
            // width: 36px;
            height: 36px;
            background-color: #f2994a;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font: 700 1.5rem/1rem "Playfair Display", serif;
          }

          p {
            font: 400 1rem/1.5rem "Montserrat", sans-serif;
            color: #333333;

            strong {
              color: currentColor;
            }
          }
        }
      }
    }

    a {
      font: 400 italic 1rem/1.5rem "Montserrat", sans-serif;
      color: #bdbdbd;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    img {
      margin-bottom: 24px;
    }

    section {
      div.recipe-info {
        grid-template-columns: unset;
        row-gap: 20px;
        padding-top: unset;
        padding-bottom: 30px;
        box-shadow: none;
        border-radius: unset;
        position: initial;
        width: 100%;
        grid-template-areas:
          "yields yields yields"
          "prep cook total";

        &__item:nth-child(1) {
          grid-area: yields;
        }

        &__item:nth-child(2) {
          grid-area: prep;
        }

        &__item:nth-child(3) {
          grid-area: cook;
        }

        &__item:nth-child(4) {
          grid-area: total;
        }

        &__item {
          padding-left: 0;
          gap: 5px;

          div {
            h2 {
              font-size: 0.5rem;
              line-height: 0.625rem;
              margin-bottom: unset;
            }

            p {
              font-size: 0.625rem;
              line-height: 0.75rem;
            }
          }
        }
      }

      div.ingredients h2,
      div.instructions h2 {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin-bottom: 13px;
      }

      // Ingredients
      div.ingredients {
        max-width: 100%;

        &__group {
          h3 {
            margin-bottom: 23px;
            font-size: 1rem;
            line-height: 1.3125rem;
          }

          &-item {
            gap: 8px;
            margin-bottom: 12px;

            label {
              font-size: 0.875rem;
            }
          }
        }
      }

      // Instructions
      div.instructions {
        max-width: 100%;
        margin-bottom: 26px;
      }

      a {
        font-size: 0.75rem;
        line-height: 1.125rem;
      }
    }
  }
}
