// Playfair Display
.playfairdisplay-400 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
}
.playfairdisplay-700 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

// Playfair Display - Italic
.playfairdisplay-400-italic {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
}

// Montserrat
.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

// Montserrat - Italic
.montserrat-400-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.montserrat-500-italic {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: italic;
}

// -----
.uppercase {
  text-transform: uppercase;
}
