footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 67px;

  span {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #828282;

    a {
      font-weight: 700;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
