header {
  h1 {
    font: 700 3rem/4rem "Playfair Display", serif;
    margin-top: 52px;
    margin-bottom: 12px;
  }

  p {
    display: flex;
    gap: 12px;
    max-width: 700px;
    font: 500 italic 0.875rem/1.0625rem "Montserrat", sans-serif;
    color: #4f4f4f;
    margin-bottom: 43px;
  }

  p::before {
    display: block;
    content: url(/dist/assets/imgs/icons/6dots.svg);
  }
}

@media screen and (max-width: 768px) {
  header {
    h1 {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 32px;
    }

    p {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      margin-bottom: 27px;
    }
  }
}
